<div class='row h-100'>
  <div class='col-sm-3 bg-light'>
  </div>
  <div class='col-sm-9  py-4'>
    <div class='row d-flex flex-row justify-content-center align-items-center km-custom-nav'>
      <%= paginate @search%>
    </div>
    <div class="row row-cols-4 g-4 py-4 mb-4">
      <% @search.each do |book| %>
        <%= render partial: "cover", locals: {book: book}   %>
      <%end%>
    </div>
    <div class='row d-flex flex-row justify-content-center align-items-center km-custom-nav'>
      <%= paginate @search%>
    </div>
  </div>
</div>
