<div class="row row-cols-4 g-4 py-4 mb-4">
  <% @paginated.each do |book| %>
    <%= render partial: "cover", locals: {book: book}   %>
  <%end%>
</div>
<div class='row d-flex flex-row justify-content-center align-items-center'>
  <%= paginate @paginated%>
</div>
